* {
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	color: #222;
}

pre,
code {
	background: #eee;
	font-family: Input, Menlo, Consolas, "Liberation Mono", monospace;
}

pre {
	padding: 0.3em;
	border-radius: 0.3em;
	overflow-x: hidden;
}

code {
	padding: 0.1em;
	border-radius: 0.1em;
}

pre code {
	padding: 0;
	border-radius: 0;
}

h1,
h2,
h3 {
	line-height: 1.3;
}

h2 {
	margin: 0.5em 0;
}

.remark-slide-content {
	font-size: 24px;
	line-height: 1.5;
	padding: 1em;
}
